<launch>

  <arg name="config_dir" default='/home/iwa9/catkin_ws/src/smoke_project/configuration_files'/>
  <arg name="config_file" default='t265_rplidar.lua'/>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(arg config_dir)
          -configuration_basename $(arg config_file)">
      <!-- remap the topics for cartographer to find them -->
    <remap from="imu"  to="/mavros/imu/data_raw" />
    <remap from="odom" to="/mavros/odometry/in"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
    type="cartographer_occupancy_grid_node" args="-resolution 0.1" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find smoke_project)/rviz/config.rviz" />

</launch>