<launch>
  
  


  <!-- Launch D435 Camera -->
  <include file="$(find smoke_project)/launch/rs_t265.launch" />


  <!-- Launch Cartographer and Rplidar-->
  <include file="$(find smoke_project)/launch/cartographer_t265.launch" />

  <node pkg="smoke_project" name="odometry_handler_node" type="odometry_handler_node" output="screen"/>







</launch>